<div id="faq" class="clearfix">
                	<h1><em>e</em>-Branch FAQ's</h1>
                   	<br /><br />
                    <h3>What browser should I use to access <em>e</em>-Branch?</h3>
                    <p>
                        You must use a browser that supports encryption.
                        Any version of Mozilla Firefox or Internet Explorer
                        v. 7 and higher are recommended.
                    </p>
                    <br /><br />
                    <h3>Where do I find my Personal Identification Number?
                        And can I change my PIN?</h3>
                    <p>
                        The PIN used for <em>e</em>-Branch is the same one used for
                        TelSTAR (Telephone account access system). If you've
                        forgotten the PIN, you can print and fill out of registration
                        form found in the <%= link_to "online forms", olserv_path(:anchor => "forms") %> section of our website. You can change your
                        PIN, either through <em>e</em>-Branch or through TelSTAR. The
                        revised PIN will work for both systems. You can use
                        an alpha-numeric PIN for this purpose, the TelSTAR system
                        will accept numbers and letters, but your PIN must be
                        a minimum of 4 characters long. &nbsp;&nbsp;To input
                        a letter on the TelSTAR system, use the corresponding
                        key on your telephone.&nbsp;  Requests for balance inquiries
                        or transfers made directly to Northern Star employees
                        over the phone, via email, or without a verified signature
                        will not be accepted.
                    </p>
                    <br /><br />
                    <h3>When logging on, I received a message asking me to
                        allow the system to set a cookie. What does this mean?</h3>
                    <p>
                        <em>e</em>-Branch assigns a random session ID each time you
                        log in. This ID is verified each time you send or receive
                        information from <em>e</em>-Branch. The session ID provides security
                        for your private information by responding only to requests
                        that are intended for you. The session cookie is not
                        stored on your computer, and it is dismissed when you
                        exit your browser, or are logged out after the inactivity
                        period. Without accepting this session ID (cookie),
                        you cannot explore your accounts with <em>e</em>-Branch.
                    </p>
                    <br /><br />
                    <h3>I keep getting &quot;time out&quot; messages each time
                        I try to explore my account information.&nbsp; Why?</h3>
                    <p>
                        You may not have your browser set to allow &quot;cookies&quot;.
                        See the question above. &nbsp;&nbsp;If your browser
                        is set to allow cookies you may be browsing during peak
                        hours.&nbsp; The server may be experiencing a high amount
                        of web traffic, please wait an hour or so and log in
                        again.
                    </p>
                    <br /><br />
                    <h3>What functions are available through <em>e</em>-Branch?</h3>
                    <p>
                        Transfers between account types, loan payments, account
                        inquiries, transaction history, verification of cleared
                        checks, withdrawals (a check is mailed to you), mailing
                        address changes, password changes, and transfers to
                        another Northern Star account.&nbsp; For users who sign
                        up for BillPay24, you will be able to pay anyone online
                        who accepts either checks or ACHs.
                    </p>
                    <br /><br />
                    <h3>When will transactions be posted?</h3>
                    <p>
                        The system is online and in real-time. Your account
                        will be updated as soon as you complete the transaction.
                    </p>
                    <br /><br />
                    <h3>For what periods is &quot;transaction history&quot; and
                        check verification available?</h3>
                    <p>
                        <em>e</em>-Branch allows you to review all of your transactions
                        from the past twelve months. &nbsp;&nbsp;You can also
                        request the system to only show ACHs, checks, deposits,
                        or withdrawals.&nbsp; For data more than twelve months
                        old, please refer to e-Statements.
                    </p>
                    <br /><br />
                    <h3>What about security issues? Can other people see
                        my accounts or watch what I'm doing with my transactions?</h3>
                    <p>
                        We use the best available technology in security,
                        firewalls and encryption. Also, if your <em>e</em>-Branch session
                        is inactive for more than a few minutes, the session
                        will &quot;time out&quot;, requiring you to enter your
                        account and PIN again before continuing. As an additional
                        security measure, <em>e</em>-Branch will only accept three (3)
                        invalid PIN attempts before locking the account out.
                        We advise you not to share your PIN with others, or
                        to keep it in any place readily accessible to others.
                        You may want to <%= link_to "check out our separate section on Security Information", security_path %>.
                    </p>
                    <br /><br />
                    <h3>Can I transfer funds between separate accounts?</h3>
                    <p>
                        Yes, there is an option for you to transfer money
                        from your account to another Northern Star account. 
                    </p>
                </div>