<div id="innercontent" class="clearfix">
                	<h1>Privacy Policy</h1>
                    <p>Northern Star Credit Union is committed to making available
                        financial products and services that will enable you
                        to meet your financial needs and reach your financial
                        goals.&nbsp; Protecting personal information and using
                        it in a manner consistent with your expectations is a
                    high priority for everyone associated with Northern Star.</p>
                    <p><strong>As a member of Northern Star, you also have a
                            responsibility to safeguard your financial information.</strong></p>
                    <p>Only personal information necessary to conduct Northern
                        Star business will be collected.&nbsp; This means just
                        what is necessary to provide competitive financial products
                        and service, no more.</p>
                    <p>Northern Star will protect your personal information.&nbsp; We
                        will maintain strong security controls to ensure member
                        information, in our files and computers, is protected.&nbsp; Where
                        appropriate, we will use security coding techniques to
                        protect against unauthorized access to personal records,
                        ensure accuracy and integrity of communications and transactions,
                        and protect member confidentiality.</p>
                    <p>You will always have access to your information.&nbsp; As
                        a member of Northern Star Credit Union, you will always
                        have the opportunity to review your information and make
                        necessary changes to ensure our records are complete
                        and accurate.</p>
                    <p>Northern Star will only share information when absolutely
                        necessary.&nbsp; We will only share information to administer
                        the products and services we provide, when required to
                        do so by the government, or when we partner with other
                        businesses to offer a broad array of products and services.</p>
                    <p>Northern Star Credit Union will only partner with businesses
                        that follow strict confidentiality requirements.&nbsp; The
                        businesses we select will offer products designed to
                        enhance our members' economic well-being.&nbsp; Under
                        no circumstances will we authorize these firms to charge
                        your account without express consent, and we will not
                        sell member information to telemarketing firms.</p>
                    <p>Northern Star will offer you a choice in how your information
                        is used.&nbsp; Any member of Northern Star Credit Union
                        may elect to keep their information from being shared
                        with our business partners.&nbsp;             We will
                        inform you on how to exercise your choice, and we will
                        take reasonable steps to ensure your requests are followed.&nbsp; At
                        least once a year, we will remind all members of their
                        right to choose.</p>
                </div>